@import url('https://fonts.googleapis.com/css?family=Alatsi|Merriweather|Nunito+Sans&display=swap');

.bg-primary{background-color: #2C3E50 !important;}
.bg-secondary{background-color: #1ABC9C !important;}
.black-font{color: #000 !important;}
.white-font{color:#fff !important;}

body {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #f6fbff;
    text-align: left;
    /* background-color: #d2fafb; */

    background-color: #2C3E50;
    /* color: #000 ; */
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}

.syarat {
    font-weight: normal;
    font-stretch: normal;
    display: inline-block;
    width: 30px;
}

.right {
    margin-right: 10%;
}

.th, .td, .td .bintang{
    text-align: center;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row-space {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 60px;
}

.card {
    color: #101010;
}

.card div.card-header{
    text-align: center;
    font-size: 26px;
}

.divnavbar {
    padding-bottom: 5rem;
}

nav a:hover {
    color:#2C3E50 !important;
}

.portfolio-item{
    background-color:#357376;
}

.portfolio-item a{
    color: #f6fbff;
    text-decoration: none;
}

.portfolio-item .list-box-photo {
    width: 500px;
    height: 250px;
}

.list-border{
    color: #fff ;
    /* color: #000; */
    size:20px;
    margin:60px 50px;
    padding:5px;
}

.list-border .list-box{
    border-radius: 10px;
    padding: 5px;
    margin: 10px 10px 0px 10px;
    display: inline-block;
    padding:10px;
    background-color: #357376;
    box-shadow: 4px 4px #1B3D36;
}

.list-box-photo{
    width: 500px;
    height: auto;
}

.list-box-text{
    margin:2px 10px 1px 10px;
}

a .list-box{
    color: #fff;
}

.template-kost, .template-komentar, .template-user{
    border-radius: 10px;
    /* font-size: 25px; */
    padding: 40px;
    background-color: #357376;
    box-shadow: 4px 4px #1B3D36;
}

.template-kos-image{
    /* float: right; */
    padding:0px !important;
    margin:0px !important;
    height: auto;
    box-shadow: 2px 2px #117A65;
}

.komentarcontainer {
    width: 500px;
    height: auto;
}

.list-komentar-row{
    padding : 10px;
    /* font-size: 20px; */
    margin:5px 20px 5px 20px;
    border-radius:20px;
    background-color: #357376;
    box-shadow: 2px 2px #138A72;
}

.table {
    color: #f6fbff;
}

.table a{
    color: #f6fbff;
}

.rating{
    position: relative;
    /* transform: translate(-50%, -50%);  */
    display : flex;
    flex-direction: row-reverse;
    /* margin: 0px 0px 0px --25%; */
}
.rating input{
    display: none;
}
.rating label{
    display: block;
    cursor: pointer;
    width: 30px;
}
.rating label:before{
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 30px;
    color: #101010;
}
.rating label:after{
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 30px;
    color: #FFDF00;
    top: 0;
    opacity: 0;
    transition: .2s;
    text-shadow: 0 2px 5px  rgba(0,0,0,0.5);
}
.rating label:hover:after,
.rating input:checked ~ label:after,
.rating label:hover ~ label:after
{
    opacity: 1;
}

.bintang{
    position: relative;
    display : flex;
    flex-direction: row;
}

.bintang label{
    display: block;
    width: 40px;
    height: auto;
}

.bintang .output::before{
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 25px;
    color: #FFDF00;
    padding-left: 0.3rem;
    top: 0;
    opacity: 1;
    transition: .2s;
    text-shadow: 0 2px 5px  rgba(0,0,0,0.5);
}

.search-box{
    position: absolute;
    /* top: 50%; */
    left:50%;
    transform: translate(-50%);
    background-color: #2f3640;
    height: 60px;
    border-radius: 40px;
    padding: 10px;

}

.search-txt:hover{
    border-bottom-color: white;
    border-bottom-width: 2px;
}

.search-box label{
    color: white;
    justify-content: center;
    align-items:center;
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background-color:white;
}

.search-btn{
    content: '\f002';
    font-family: fontAwesome;
    color: #e84114 !important;
    float: right;
    width: 40px;
    height: 40px;
    border-radius:50%;
    background:#2f3640;
    display:flex;
    justify-content: center;
    align-items:center;
    text-decoration: none;
    transition: 0.5;
}

.search-txt, .search-box input{
    border:hidden;
    background: none;
    outline: none;
    float: left;
    padding:0;
    color: white;
    font-size: 16px;
    line-height: 40px;
    transition:0.4s;
    width: 0px;
}
