@import url('https://fonts.googleapis.com/css?family=Alatsi|Merriweather|Nunito+Sans&display=swap');

body {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #d2fafb;
}

.right {
    margin-right: 10%;
}

.th {
    text-align: center;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row-space {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 60px;
}

.list-border{
    color: #000;
    size:20px;
    margin:20px 20px;
    padding:5px;
}

.list-border .list-box{
    margin: 10px 10px 0px 10px;
    display: inline-block;
    padding:10px;
    background-color: #41aaa8;
}

.list-box-photo{
    width: 500px;
    height: auto;
}

.list-box-text{
    margin:2px 0px;
}

a .list-box{
    color: #000;
}

